html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

p {
  font-size: 1.8rem;
  color: #868484;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
}

.button {
  display: block;
  background-color: #499edb;
  color: white;
  padding: 15px;
  width: 200px;
  height: 50px;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 3px;
  letter-spacing: 2px;
}

nav {
  background-color: black;
  color: white;
  margin: 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
nav ul a {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: bold;
}
nav .facebook {
  color: gray;
}
nav .facebook .text {
  display: none;
}

/* Resets for all buttons */
.is-control {
  z-index: 1;
  background: none;
  color: rgba(0, 0, 0, 0.7);
  border: 0;
  cursor: pointer;
  transition: all 0.2s linear;
}

.is-control:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* Pause/play toggle for autoplay */
.slick-autoplay-toggle-button {
  bottom: 15px;
  left: 10px;
}

/* Previous slide button */
.previous-button {
  position: absolute;
  left: 0;
  top: 110px;
  padding: 5px 15px;
  z-index: 3;
  font-size: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 0;
}

/* Next slide button */
.next-button {
  position: absolute;
  right: 0;
  top: 110px;
  padding: 5px 15px;
  z-index: 1;
  font-size: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 0;
}

/** Wrapper */
.carousel {
  position: relative;
  margin-bottom: 20px !important;
  /**
    Single slide
  */
}
.carousel .slide {
  position: relative;
  height: 400px;
}
.carousel .slide .background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #80808085;
}
.carousel .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 10px;
  max-width: 600px;
  width: 100%;
  height: 90%;
  padding: 15px;
  white-space: normal;
  color: gray;
}
.carousel .content .name h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 200;
}
.carousel .content .name span {
  font-size: 7.5rem;
  font-weight: bold;
}
.carousel .content .price {
  position: absolute;
}
.carousel .content .price img {
  width: 350px;
  height: 300px;
  z-index: -2;
  position: absolute;
  left: 30%;
  top: 10%;
}
.carousel .content .price h2 {
  font-size: 10rem;
  font-weight: 200;
  color: white;
  margin-left: 200px;
  margin-top: 120px;
}
.carousel .content .price span {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 40px;
  position: absolute;
}
.carousel .content .button {
  border-radius: 10px;
}

/** Slide dots */
.slick-dots {
  bottom: 15px;
}

.slick-dots li {
  padding: 0;
  margin: 0 1px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.grid article {
  margin: 2rem;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}
.grid article img {
  max-width: 100%;
}
.grid .text {
  padding: 20px;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
}
.article .container {
  background-color: #fff;
  border-radius: 5px;
  width: 800px;
}
.article h2 {
  text-align: center;
  margin: 0 0 20px;
}
.article .form {
  padding: 30px 40px;
}
.article .form .form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.article .form .form-control input,
.article .form .form-control select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}
.article .form .form-control select {
  background-color: #fff;
}
.article .form .form-control input:focus {
  outline: 0;
  border-color: #777;
}
.article .form-control.success input {
  border-color: #2ecc71;
}
.article .form-control.error input {
  border-color: #e74c3c;
}
.article .form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  font-size: 15px;
}
.article .form-control.error small {
  visibility: visible;
}
.article .form button {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  nav a {
    display: flex;
  }
  nav .facebook .text {
    display: block;
    font-size: 1.2rem;
    margin: 5px;
  }
  nav .facebook .fa-facebook {
    margin: 5px;
  }

  .carousel .content {
    left: 5%;
  }
  .carousel .content .name h1 {
    font-size: 4rem;
  }
  .carousel .content .name span {
    font-size: 12rem;
  }
  .carousel .content .price {
    left: 100%;
  }
  .carousel .content .price img {
    height: 450px;
    width: 450px;
    top: 0;
    left: 0;
  }
  .carousel .content .price h2 {
    margin-top: 140px;
  }
}
.container {
  width: 800px;
}
.container .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.container .form .form-control small {
  display: block;
}

/*# sourceMappingURL=main.css.map */
